<h1>Rewards</h1>

<p>
  Studio: <%= @studio.name %>
</p>

<p>
  Your progress: <%= current_user.current_visit_progress_for(@studio) %> / 10 visits
</p>


<%= button_to "Test tap-in",
  visits_path(studio_slug: @studio.slug),
  method: :post %>

<% if @rewards.any? %>
  <ul>
    <% @rewards.each do |reward| %>
      <li style="margin-bottom: 20px;">
        <h2><%= reward.name %></h2>

        <% if reward.image_url.present? %>
          <p>
            <img src="<%= reward.image_url %>" alt="<%= reward.name %>" width="200">
          </p>
        <% end %>

        <p><%= reward.description %></p>

        <% if reward.redeemable_by?(current_user) %>
          <p>You unlocked this reward.</p>

          <%= button_to "Redeem reward",
            redeem_reward_path(studio_slug: @studio.slug, id: reward.id),
            method: :post %>
        <% else %>
          <p>This reward unlocks after 10 visits.</p>
          <p>Visits completed: <%= current_user.visits_count_for(@studio) %></p>
          <p>Visits remaining: <%= current_user.visits_remaining_for_next_reward(@studio) %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No rewards available yet.</p>
<% end %>

<p>
  <%= link_to "View reward history", reward_redemptions_path(studio_slug: @studio.slug) %>
</p>

<% if user_signed_in? %>
  <p>Signed in as <%= current_user.email %></p>
  <%= button_to "Log out", destroy_user_session_path, method: :delete %>
<% end %>
