<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "TapIn" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="TapIn">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <% if notice.present? %>
      <div class="alert alert-success alert-dismissible fade show m-0 rounded-0" role="alert">
        <div class="container"><%= notice %></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert alert-danger alert-dismissible fade show m-0 rounded-0" role="alert">
        <div class="container"><%= alert %></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
